html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
  font-size: 12px;

}
.logo {
  height: 50px;
  margin: -20px;
}
@media screen and (max-width: 1000px){
  .logo { height: 30px; }
  .navbar-nav {margin-left: 0px !important;}
  .navbar-brand{margin-left: 0px !important;}
}
@media screen and (max-width: 900px){
.carousel-caption{
  padding-bottom: 10px !important;
  width: 100% !important;
  padding: 10px !important; 
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.56);}
  .slide_mg {
    filter: grayscale(90%) !important;
  }
  .sale {
    padding: 10px 50px !important;
  }
}

@media screen and (max-width: 500px){
  .conf_text{
    padding: 10px !important;
  }
  .confidence {
    padding: 0px !important;
  }
}
.btn_menu {
  border-radius: 50%;
  background-color: #fea604;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 2px 3px 8px 2px #bebebe;
}
.navbar-toggler {
  background-color: #fe9d01;
}
.navbar {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #eee;
}
.navbar-brand {
  margin-left: 50px; 
}
.navbar-nav{
  margin-left: 60px;
}
.nav-item {
  margin-left: 20px;
}
.nav-link {
  color: #A9A9A9 !important;
}
.carousel {
padding-top: 40px;
}
 .slide_mg {
  -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    background-size: cover;
    min-height: 250px;
}
.grad_btn {
  font-size: 12px;
  border: none;
  border-radius: 22px;
  padding: 10px 50px;
  background: linear-gradient( to right, #fe9d01, #ffc710);
}
.btn-primary:hover {
 background: linear-gradient( to right, #ffc710, #fe9d01) !important;
 
}
.p-0 {
  padding: 0px;
}
.carousel-caption{
  width: 400px;
  padding-bottom: 90px;
}

.carousel-indicators li{
  border-radius: 50px;
  width: 10px;
  height: 10px;
}
.carousel-indicators .active {
  background-color: #ffb609;
}
.confidence{
  padding: 80px;
}
.conf_row {
  padding: 70px;
}
.conf_text {
  padding: 30px;
}
.container {
  max-width: 100%;
}
.img_car {
  height: 230px;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("../image/bg1.jpg") no-repeat center top;
  background-size: cover;
}
.img_car_black {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100% !important;
  height: 230px;
  color: #fff;
}
.img_car2 {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("../image/bg2.jpg") no-repeat center top;
  background-size: cover;
}
.img_car2_black {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100% !important;
  height: 500px;
  color: #fff;
}

.back_call{
  width: 300px;
  margin: 70px;
}
.sale {

  padding: 50px 200px;
}

.check_mark {
    list-style: none;
    background: url(../image/Li.png) no-repeat ; 
    padding-left: 24px;
    padding-left: 60px;
    padding-bottom: 30px;
   }

.feedback_form {
  width: 340px;
  background: #fff;
  padding: 20px;
  margin: 60px auto;
  border-radius: 5px;
   }
   .feedback_form h4 {
    color: #000;
   }
    .feedback_form input {
    border: none;
    border-radius: 0; 
    border-bottom: 2px solid #aaa;
   }
   .feedback_text {
    margin: 80px;
   }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

